<div fxLayout.xs="column" fxLayoutAlign=" center" fxLayoutGap="15px">
  <mat-form-field>
    <mat-label>Provide a Model URL</mat-label>
    <input [formControl]="modelUrl" matInput placeholder="http://model.URL">
    <button *ngIf="modelUrl.invalid" (click)="modelUrl.reset()"
            mat-button matSuffix mat-icon-button aria-label="Clear">
      <mat-icon>close</mat-icon>
    </button>
    <mat-error>Must be a URL, e.g. http:// or https://</mat-error>
  </mat-form-field>
  <span>or</span>
  <div>
    <button (click)="file.click()" color="primary" mat-raised-button>
      <mat-icon>file_upload</mat-icon>
      Select Model Files
    </button>
    <input #file (change)="addFile($event)" accept="json/*,bin/*" hidden multiple type="file"/>
  </div>
</div>
