<button (click)="file.click()" color="primary" mat-button>
  <mat-icon>file_upload</mat-icon>
  Select all you model JSON files (model, metadata, weights)
</button>
<input #file (change)="addFile($event)" accept="json/*,bin/*" hidden multiple type="file"/>

<button [disabled]="!modelFiles || !allFilesAdded()" (click)="submitFiles()" color="primary" mat-button>
  <mat-icon>model_training</mat-icon>
  Load Model
</button>

<mat-form-field>
  <mat-label>Model URL</mat-label>
  <input [formControl]="urlControl" matInput placeholder="URL">
  <mat-hint>Hint</mat-hint>
</mat-form-field>
